<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorization</title>
    <link rel="stylesheet" href="css/all.css" />
    <script src="https://kit.fontawesome.com/f4e7d62f88.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <h3 style="margin: auto auto; width: 30%; text-align: center">
      Страница не найдена
    </h3>
  </body>
</html>
